@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@1,400;1,700&family=Gothic+A1:wght@500&display=swap');
#carTitle h2{
  font-family: 'B612', sans-serif;;
}
#date{
  font-size: 0.8rem;
  word-spacing: 0px;
  font-family: 'Gothic A1', sans-serif;
}
main{
  min-height: 100vh;
  
}